*
{
	margin: 0;
}

body
{
	background-color: snow;
	overflow-x: hidden;
	color: #333;
}

main
{
    
	height: 100%;
}
.contener1{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/*--------------------canvas---------------------------*/
#parameters
{
	font-family: Comic Sans MS;
	width: 55%;
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 10px;
    padding-bottom: 10px;
	box-shadow: 5px 5px 5px 5px #333;
	background-color: snow;
    border-radius: 20px;
	margin-bottom: 10px;
	border-bottom: snow solid 2px;
	margin-top: 120px;
}

.slider
{
	-webkit-appearance: none;
	appearance: none;
	height: 25px;
	width: 95%;
	margin-top: 10px;
	margin-bottom: 20px;
	opacity: 0.7;
	outline: none;
	background: #777;
    border-radius: 10px;
	-webkit-transition: .2s;
	transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
	-webkit-appearance: none;
	appearance: none;
	width: 30px;
	height: 30px;
	background: red;
    border-radius: 50%;
	cursor: pointer;
}

.slider::-moz-range-thumb {
	width: 25px;
	height: 25px;
	background: #4CAF50;
	cursor: pointer;
}



canvas
{
	background-color:snow;
}
/*-----------strona----------------*/
nav{
    background-color:snow;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-bottom: -50px;
    
}
.line-base{
    margin-top: 20px;
    background-color: #858e99;
    width: 100%;
    height: 3px;
    position: absolute;

}
.line{
    margin-top: 18px;
    height: 6px;
    width: 100px;
    background: #2cccc4;
    position: absolute;
    animation: slide 20s ease-in-out infinite;
    opacity: 0%;
    border-radius: 50%;
}

.line:nth-child(1){
    
    background-color: yellow;
}
.line:nth-child(2){
    animation: slide 20s ease-in-out infinite;
    animation-delay: 0s;
    background-color: violet;
}
.line:nth-child(3){
    animation: slide 20s ease infinite;
    animation-delay: 3s;
    background-color: slateblue;
}
.line:nth-child(4){
    animation: slide 20s ease-out infinite;
    animation-delay: 6s; 
    background-color: navy;
}
.line:nth-child(5){
    animation: slide 20s ease-in-out infinite;
    animation-delay: 9s; 
    background-color: yellowgreen;
}
.line:nth-child(6){
    animation: slide 20s ease-in infinite;
    animation-delay: 12s; 
    background-color: green;
}
@keyframes slide{
   
    100%,0%{
        opacity:100%;
        transform: translateX(0px);
        filter: blur(2px);
        
    }
    50%{
        transform: translateX(1803px);
        background-color: red;
    }
}

nav li{
    margin-left: 20px;
    display: inline-flex;
    
}
nav li a{
    font-family: "poppins", sans-serif ;
    text-decoration: none;
    color:#222;
    padding:3px 3px 3px 3px;
    
}
nav li a{
    position: relative;
    padding-bottom: 3px;
    cursor: pointer;
}
nav li:nth-child(1) a::after{
    background-color: #858e99;
}
nav li:nth-child(2) a::after{
    background-color: #2cccc4;
}
nav li:nth-child(3) a::after{
    background-color: #db545a;
}
nav li:nth-child(4) a::after{
    background-color: #f1c50e;
}
nav li:nth-child(5) a::after{
    background-color: #4c7397;
}
nav li:nth-child(6) a::after{
    background-color: yellowgreen;
}
nav li a::after{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width: 0%;
    height: 2px;
    transition: width 0.4s ease-out;
}

nav li a:hover:after{
    width: 100%;
}
